#form-wizard
    --core: #8057d7
    max-width: var(--jdk-fw-max-width, 1200px)
    width: var(--jdk-fw-width, 100vw)
    height: var(--jdk-fw-height, auto)
    overflow: hidden
    border-radius: var(--jdk-fw-radius, .75rem)
    border: var(--jdk-fw-border, var(--jdk-fw-border-width, 2px) var(--jdk-fw-border-type, dashed) var(--jdk-fw-border-clr, var(--core)))
    padding: var(--jdk-fw-padding, 1rem)
    display: grid
    grid-auto-flow: row
    grid-template-rows: var(--grid-rows, repeat(2, min-content) 1fr min-content)

    & > * + *
        margin-top: 1.5rem

    #steps
        display: flex
        flex-flow: row
        overflow-x: auto
        overflow-y: hidden
        white-space: nowrap
        width: 100%

        &::-webkit-scrollbar
            display: none

        & > * + *
            margin-left: 1.75rem

        button
            flex: 1
            display: grid
            grid-template-rows: max-content min-content
            place-items: center
            padding-top: .5rem
            border-radius: .5rem

            &.active
                --nth-step-active-bg: var(--core)
                --nth-step-active-border-clr: var(--core)
                --active-step-name-clr: var(--core)
                --active-step-num-clr: #161616

            & > * + *
                margin-top: 1rem

            .nth-step
                --s: 2rem
                position: relative
                display: grid
                place-items: center
                border-radius: 100%
                background: var(--nth-step-unactive-bg, var(--nth-step-active-bg, #363636))
                box-shadow: 0 0 0 2px var(--nth-step-unactive-border-clr, var(--nth-step-active-border-clr, #4e4e4e))
                font-size: 1rem
                width: var(--nth-step-size, var(--s))
                aspect-ratio: 1
                color: var(--nth-step-unactive-num-clr, var(--nth-step-active-num-clr, #fff))
                transition: all .25s ease-in
                @supports not (aspect-ratio: 1)
                    height: var(--nth-step-size, var(--s))
                    width: var(--nth-step-size, var(--s))

            .step-name
                height: 100%
                width: 100%
                font-size: 1.125rem
                font-weight: 600
                color: var(--unactive-step-name-clr, var(--active-step-name-clr, #777))
                transition: all .25s ease-in

    .jdk-fw-seperator
        --s: .75rem
        height: var(--sprt-size, var(--s))
        width: var(--sprt-size, var(--s))
        border-radius: var(--sprt-radius, .125rem)
        transform: rotate(45deg)
        background: var(--sprt-clr, var(--core))
        margin: var(--sprt-margin, var(--sprt-margin-top, 1rem) var(--sprt-margin-right, auto) var(--sprt-margin-bottom, 0) var(--sprt-margin-left, auto))
        position: relative
        pointer-events: none

        &::after,&::before
            content: ""
            position: absolute
            width: 100%
            height: 100%
            background: inherit
            border-radius: inherit
            top: 0
            left: 0

        &::after
            transform: translate(120%, -120%)

        &::before
            transform: translate(-120%, 120%)

    #step-content
        margin-bottom: var(--content-margin-bottom, 1.25rem)
        overflow-y: auto
        overflow-x: hidden

        &::-webkit-scrollbar
            display: none

    #step-footer
        display: flex
        flex-flow: row
        justify-content: space-between
        margin-top: auto

        button
            padding: var(--footer-btn-padding, .375rem 1.5rem)
            font-weight: var(--footer-btn-font-weight, 600)
            letter-spacing: 0.5px
            border-radius: var(--footer-btn-radius, .375rem)
            font-size: var(--footer-btn-font-size, 1.0625rem)
            background: var(--footer-btn-bg)
            user-select: none

            &#back
                --footer-btn-bg: var(--back-btn-bg, #434343)

                &:hover
                    --back-btn-bg: var(--back-btn-bg-hover, #333)

            &#next
                --footer-btn-bg: var(--next-btn-bg, var(--core))

                &:hover
                    --next-btn-bg: var(--next-btn-bg-hover, #7751c9)
